absl-py
aioquic
altair
annotated-types
anyio
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
blis
Brotli
browsermob-proxy
cachetools
catalogue
certifi
cffi
charset-normalizer
ci-info
click
cloudpathlib
comm
confection
configobj
configparser
contextlib2
contourpy
cryptography
cycler
cymem
Cython
debugpy
decorator
defusedxml
distro
docx2pdf
etelemetry
executing
faiss-cpu
fastjsonschema
filelock
fitz
Flask
Flask-Cors
flatbuffers
fonttools
fpdf
fqdn
fsspec
future
gast
gensim
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
gpg
grpcio
h11
h2
h5py
hpack
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
iniconfig
innvestigate
ipykernel
ipython
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaitaistruct
keras
Keras-Applications
Keras-Preprocessing
keras-tuner
kiwisolver
kt-legacy
langcodes
language_data
ldap3
libclang
looseversion
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mitmproxy
mitmproxy-macos
mitmproxy_rs
mitmproxy_wireguard
ml-dtypes
mpmath
msgpack
murmurhash
namex
narwhals
nbclient
nbconvert
nbformat
neo4j
nest-asyncio
networkx
nibabel
nipype
nltk
notebook
notebook_shim
numpy
openai
opencv-python
opt-einsum
optree
outcome
overrides
packaging
pandas
pandocfilters
parso
passlib
pathlib
pdf2image
pdfminer.six
pdfplumber
pexpect
pillow
platformdirs
pluggy
POT
preshed
prometheus_client
prompt_toolkit
proto-plus
protobuf
prov
psutil
ptyprocess
publicsuffix2
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydot
Pygments
pylsqpack
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
PyPDF2
pypdfium2
pyperclip
PySocks
pytesseract
pytest
python-dateutil
python-docx
python-dotenv
python-json-logger
pytz
pyxnat
PyYAML
pyzmq
qtconsole
QtPy
randomsearch
rdflib
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
selenium
Send2Trash
sentence-transformers
service-identity
setuptools
shellingham
simplejson
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
streamlit
stripe
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
tf-slim
tf_keras
thinc
threadpoolctl
tinycss2
tokenizers
toml
torch
tornado
tqdm
traitlets
traits
transformers
trio
trio-websocket
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
urwid
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
wheel @ file:///opt/homebrew/Cellar/python%403.12/3.12.5/libexec/wheel-0.44.0-py3-none-any.whl#sha256=8d8a590e50bda8422000110e90bc730ebfcd8363d2de80793ac819b7f252e97d
widgetsnbextension
wrapt
wsproto
zstandard
